@page
@model toDoApp.Pages.ToDos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.isDone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.isDone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.creationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.creationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDoItem.id">Edit</a> |
    <a asp-page="../Index">Back to Overview</a>
</div>
